body {
  margin: 0;
}

header {
  height: 150px;
  background-color:blue;
}

nav {
  background-color: orange;
  height: 400px;
  width: 20%;
  float: left;
}

main {
  height: 550px;
  width: 80%;
  background-color: yellow;
  float: right;
}

footer {
  background-color: saddlebrown;
  height: 80px;
  clear: both;
}