body,
h1,
h2,
h3,
p,
ul {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Georgia, serif;
  color: #252525;
}

/* Menu */

.menu {
  background: #252525;
  padding: 20px;
}

.menu-nav li {
  display: inline-block;
}

.menu-nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 1.125em;
}

.menu-container {
  max-width: 960px;
  margin: 0 auto;
}

.menu-container::after, .menu-container::before {
  content: '';
  display: table;
  clear: both;
}

a.menu-logo {
  display: block;
  float: left;
}

.menu-nav {
  float: right;
}