body {
  margin: 0;
  background-color: #ccc;
}

.topo-pagina {
  height: 500px;
  background: url(../img/bg-3.jpg);
  background-size: cover;
  background-position: center right;
  border-top: 1px solid transparent;
}

.texto-central-topo {
  font-size: 20px;
  text-align: center;
  margin-top: 150px;
}

.texto-central-topo h1 {
  text-transform: uppercase;
  text-shadow: 2px 2px 3px white;
}

.texto-central-topo p {
  text-transform: uppercase;
}

.topo-pagina ul {
  text-align: right;
  margin: 10px 30px 0 0;
}

.topo-pagina nav ul li {
  display: inline-block;
  border: 1px solid white;
  margin-right: 10px;
}

.topo-pagina a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 15px;
  display: block;
  background-color: rgb(0,0,0,0.3);
}

.topo-pagina a:hover {
  background-color: rgb(0,0,0,0.5);
}

main {
  width: 80%;
  margin: 10px auto;
}

.card {
  margin-top: 20px;
}

.sec {
  background-color: white;
}

.cabecalho_article {
  background-color: #ccc;
  padding: 10px;
  border-bottom: 2px solid grey;  
}

.cabecalho_article h2 {
    margin: 0px;
}

footer {
  background-color: gray;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: white;
  text-shadow: 2px 2px 2px black;
}