
body {
  margin: 0px;
  background: #ccc;
}

.topo-pagina {
  background-image: url(../img/bg-3.jpg);
  height: 500px;
  background-size: cover;
  background-position: center right;
  border-top: 1px solid transparent;
}

.texto-central-topo {
  text-align: center;
  color: white;
  margin: 150px;
}

.texto-central-topo h1 {
  text-transform: uppercase;
  text-shadow: 3px 2px 3px black;
  font-family: sans-serif;
  font-size: 50px;
}

main {
  width: 80%;
  margin: 15px auto;
}

section {
  background: #FFF; 
  margin-top: 10px;
  padding: 10px;
}

.card {
  margin-top: 20px;
}

.cabecalho_article {
  background-color: #ccc;
  border-bottom: 3px solid dimgray;
  padding: 10px;
}

.cabecalho_article h2 {
  margin: 0;
}

.topo-pagina nav ul {
  text-align: right;
  margin: 20px 50px 0 0;
  
}

.topo-pagina nav li {
  display: inline-block;
  list-style: none;
  margin-left: 10px;
  border: 1px solid #FFF;
}

.topo-pagina nav li a { 
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-color: rgb(0,0,0,0.3);
  padding: 15px;
}

.topo-pagina nav li a:hover {
  background-color: rgb(0,0,0,0.5);
}

footer {
  background-color: gray;
  text-shadow: 2px 2px 2px #000000;
  font-size: 16px;
  font-family: Arial, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #FFF;
  text-align: center;
  height: 80px;
  line-height: 80px;
}