body {
  background-color: #ccc;
  margin: 0px;
}

.topo_pagina {
  background-color: indianred;
  height: 250px;
  border-top: 1px solid transparent;
}

.topo_pagina ul {
  text-align: right;
  margin: 10px;
}

.topo_pagina li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  border: 1px solid white;
  margin-left: 10px;
}

.topo_pagina a {
  text-transform: uppercase;
  padding: 10px;
  display: block;
  background-color: rgb(0,0,0,0.3);
  color: white;
  text-decoration: none;
}

.topo_pagina a:hover {
  background-color: rgb(0,0,0,0.5);
}

.topo_pagina h1 {
  text-align: center;
  text-shadow: 2px 2px 2px white;
  font-family: sans-serif;
  font-size: 50px;
  margin-bottom: 2px;
}

.topo_pagina p {
  text-align: center;
}

main {
  width: 80%;
  margin: 10px auto;
}

.sec {
  background-color: white;
  padding: 10px;
  margin: 10px;
}

.cabecalho_article {
  background-color: #ccc;
  border-bottom: 2px solid gray;
}

.cabecalho_article h2 {
  margin: 0;
  padding: 10px;
}

footer {
  height: 50px;
  background-color: gray;
  line-height: 50px;
  text-align: center;
  text-shadow: 2px 2px 2px white;
  color: #fff;
}