h1 {
  background-color: #fbc877;
  width: 90%;
  margin: 20px auto;
  text-align: center;
  font-family: Verdana, Helvetica, sans-serif;
  color: #9e461e;
}

h2 {
  background-color: #c89091;
  color: #fe0000;
  margin: 20px auto 20px auto;
  width: 90%;
  font-size: 20px;
  font-weight: bold;
  font-family: Verdana, Helvetica, sans-serif;
  padding: 5px 5px;
  box-sizing: border-box;
  border-bottom: #fe0000 solid 2px;
}

.texto {
  width: 90%;
  margin: 0 auto;
  font-size: 14px;

}

.cargo {
  font-size: 16px;
  font-weight: bold;
  width: 90%;
  margin: 5px auto;
}

.formacao, .localtrabalho, .especializacoes {
  font-size: 18px;
  font-weight: bold;
  width: 90%;
  margin: 5px auto;
}

ul {
  width: 90%;
  margin: 0 auto;
}