body {
  margin: 0px 0px;
  width: 600px;
  margin: 0 auto;
  background-image: url("../img/back.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat;
  background-position: right bottom;
}

h1 {
  text-align: center;
}

p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
}

img {
  width: 220px;
  height: 220px;
  float: left;
}